[submodule "sam2"]
	path = sam2
	url = git@github.com:CosmosMount/sam2.git
[submodule "ProPainter"]
	path = ProPainter
	url = git@github.com:CosmosMount/ProPainter.git
[submodule "davis2017-evaluation"]
	path = davis2017-evaluation
	url = git@github.com:CosmosMount/davis2017-evaluation.git
